services:
  cine-platform:
    build: .
    container_name: cine-platform
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5000:5000"
    environment:
      - FLASK_HOST=0.0.0.0
      - FLASK_PORT=5000
      - MOVIES_FOLDER=${MOVIES_FOLDER}
      - SECRET_KEY=${SECRET_KEY}
    volumes:
      - ./uploads:/app/uploads
      - ./temp:/app/temp
      - ./outputs:/app/outputs
      - ./logs:/app/logs
      - ${MOVIES_FOLDER}:/data/movies
