<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Login - Mi Cine Jetson</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS del login -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}">
</head>

<body>
    <div class="login-box">
        <form method="POST">
            <h2>Identificarse</h2>

            {% if error %}
                <p class="error-msg">{{ error }}</p>
            {% endif %}

            <input type="text" name="email" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Entrar</button>
        </form>
    </div>

    <!-- JS del login -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
